<!DOCTYPE html>
<html ng-app="Property">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    @Styles.Render("~/bower_components/main/css")
    
    @Styles.Render("~/fonts/css")
    @Styles.Render("~/styles/themes/base/css")
</head>
<body ng-controller="appCtrl" class="{{$state.current.data.specialClass}}" ng-cloak backdrop="true">
    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line">
        </div>
        <div class="splash-title">
            <h1>Property Loading...</h1>
            <p>Property tool. </p>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>                       
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>      
    </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Page view wrapper -->
    <div id="page-container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bower_components/jquery")
    @Scripts.Render("~/bundles/bower_components/main/js")
   
    
    @Scripts.Render("~/bundles/scripts/app_base/js")
    
    @Scripts.Render("~/bundles/scripts/controller/js")
    @Scripts.Render("~/bundles/scripts/app/js")
    
    @RenderSection("scripts", required: false)
            
</body>
</html>

